@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard-dynamic-subset.css");
@import url("https://fonts.googleapis.com/earlyaccess/nanumgothic.css");

* {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto, sans-serif;
}

html,
body,
#__next,
main{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

html{
  overflow-y: body;
}

html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, a, abbr, acronym, address, big, button, 
cite, code, del, dfn, em, img, input, ins, kbd, 
q, s, samp, small, strike, strong, sub, sup, tt, 
var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, 
tfoot, thead, tr, th, td, article, aside, canvas, details, 
embed, figure, figcaption, footer, header, hgroup, menu, 
nav, output, ruby, section, summary, time, mark, audio, video 
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.slide_ltr-in {
  margin-left: 0;
  opacity: 1;
  transition: ease-in-out 0.55s;
}

.slide_ltr-out {
  margin-left: -100%;
  opacity: 0;
  transition: ease-in-out 0.55s;
}

.slide_rtl-in {
  margin-left: 0;
  opacity: 1;
  transition: ease-in-out 0.55s;
}

.slide_rtl-out {
  margin-left: 100%;
  opacity: 0;
  transition: ease-in-out 0.55s;
}

.fade-in {
  opacity: 1;
  transition: ease-in-out 0.55s;
}

.fade-out {
  opacity: 0;
  transition: ease-in-out 0.55s;
}

.scaleup-in {
  transform: scale(1);
  transition: ease-in-out 0.55s;
}

.scaleup-out {
  transform: scale(0);
  transition: ease-in-out 0.55s;
}